:root{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
}

#title{
    font-size: 1.6rem;
    font-weight: 400;
    color: #f3f3f3;
}

#subtitle{
    font-size: 1rem;
    font-weight: 300;
    color: #f3f3f3;
}

header{
    background-color: #090909;
    box-shadow: 2px 2px 3px #66666666;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
}

header div{
    display: flex;
    gap: 1rem;
    align-items: center;
}

input{
    height: 1rem;
    width: 1.5rem;
}

.inches{
    width: 2.5rem;
}

#mainContainer{
    background-color: #f9f9f9;
    padding: 2rem 0 4rem 0;
    border-bottom: solid 1px #66666640;
    display: flex;
    justify-content: space-around;
}

.form{
    display: grid;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

#data1, #data2{
    display: block;
    justify-content: center;
    align-self: self-end;
}

#screen-1, #screen-2{
    background-image: linear-gradient(to right, #444444, #999999);
    border: solid 3px black;
    border-radius: 5px;
    transition: height 1s, width 1s;
    position: relative;
    justify-self: center;
}

#screen-3{
    background-color: #6cc1e3;
    transition: height 1s, width 1s;
    display: flex;
    align-items: end;
}

#screen-4{
    background-color: #4995be;
    transition: height 1s, width 1s;
}

#comparison{
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
    border-bottom: solid 1px #66666640;
}

#bar1, #bar2{
    background-color: black;
    height: 1.5rem;
    width: 2.5rem;
    justify-self: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}

#foot1, #foot2{
    background-color: black;
    height: 0.5rem;
    width: 5rem;
    justify-self: center;
    position: absolute;
    top: calc(100% + 1rem);
    left: 50%;
    transform: translate(-50%);
    border-radius: 3px;
}

.border{
    border: solid 1px #666666;
}

@media (max-width: 768px){
    :root{
        font-size: 12px;
    }

    #subtitle{
        display: none;
    }

    #mainContainer{
        display: block;
    }

    #screen-1{
        margin-bottom: 4rem;
    }

    #screen-1, #screen-2{
        left: 50%;
        transform: translateX(-50%);
    }

    .form{
        display: flex;
        gap: 2rem;
    }

    #bar1, #bar2{
        height: 0.75rem;
        width: 1.5rem;
        justify-self: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
    }
    
    #foot1, #foot2{
        height: 0.25rem;
        width: 4rem;
        justify-self: center;
        position: absolute;
        top: calc(100% + 0.6rem);
        left: 50%;
        transform: translate(-50%);
        border-radius: 3px;
    }

    #comparison{
        display: block;
        padding: 2rem 3rem;
    }

    #display-info-1{
        margin-bottom: 2rem;
    }

    #display-info-2{
        margin-top: 2rem;
    }
}